#nav{
	height:60px;
	background-color: #D7DF23;
	width: 100%;
}
span{
	font-size: 24px;
}

.back{
	background-image: url("cab.png");
	width:100%;
	height: 560px;
}
.cover{
	padding-top: 60px;
}
.xc{
	background-color: #D7DF23;
	height: 60px;
	bottom: 0;
	width: 100%;
}
/*#tabledecorate{
	background-color: green;
	padding: 10px;
	color:red;
}*/
.icon{

	font-size: 32px;
}
#tabledecorate {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabledecorate td, #tabledecorate th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabledecorate tr:nth-child(even){background-color: #f2f2f2;}

#tabledecorate tr:hover {background-color: #ddd;}

#tabledecorate th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  }
  .tiles{
	padding:10px;
	margin-left: 120px;
	margin-top: 40px;
	background-color: #D7DF23;
	height:160px;
	width:210px;
	text-align: center;
	border-radius: 5px;
}
.invoice{
	padding:10px;
	background-color: #D7DF23;
	margin-left: 10px; 
	text-align: center;\
	width:50%;
}